.personImg {
    width: 20px;
}

.elevatorPage {
    position: relative;
    width: 290px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.elevatorPage .pillar {
    width: 30px;
    height: 340px;
    background-image: url("../../assets/pillar.png");

}

.elevatorPage .elevatorBox {
    width: 100px;
    height: 35px;
    background: #cccccc;
    position: absolute;
    bottom: 0;
    left: 95px;
    animation: elevatorBoxMove 15s linear infinite;
    background: url("../../assets/elevator.png");
    background-repeat: no-repeat;
    background-size: 100px 35px;
}

.elevatorPage .person {
    width: 20px;
    height: 20px;
    border: solid 1px;
    background: #ffc468;
    position: absolute;
    bottom: 0;
    right: 40px;
    animation: personOut 15s linear infinite;
    opacity: 1;

}

.elevatorPage .waitPerson {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -30px;
    left: 135px;
    animation: waitPerson 15s linear infinite;
}

@keyframes waitPerson {
    0% {
        bottom: -30px;
        opacity: 0;
    }
    2% {
        bottom: -30px;
        opacity: 1;
    }
    10% {
        bottom: -30px;
        opacity: 1;
    }

    18% {
        bottom: 10px;
        opacity: 1;
    }
    20% {
        bottom: 10px;
        opacity: 0;
    }

    100% {
        bottom: -30px;
        opacity: 0;
    }
}


@keyframes personOut {
    0% {
        right: 40px;
        opacity: 0;
    }
    20% {
        right: 40px;
        opacity: 0;
    }



    26% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
    28% {
        right: 40px;
        opacity: 0;
    }
    30% {
        right: 40px;
        bottom: 35px;
        opacity: 1;
    }
    38% {
        right: -45px;
        bottom: 35px;
        opacity: 1;
    }
    40% {
        right: -50px;
        bottom: 35px;
        opacity: 0;
    }



    46% {
        right: 40px;
        bottom: 0;
        opacity: 0
    }
    48% {
        right: 40px;
        opacity: 0
    }
    50% {
        right: 40px;
        bottom: 35px;
        opacity: 1;
    }
    58% {
        right: -45px;
        bottom: 35px;
        opacity: 1
    }
    60% {
        right: -50px;
        bottom: 35px;
        opacity: 0;
    }


    66% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
    68% {
        opacity: 0;
    }
    70% {
        right: 40px;
        bottom: 35px;
        opacity: 1;
    }
    78% {
        right: -45px;
        bottom: 35px;
        opacity: 1;
    }
    80% {
        right: -50px;
        bottom: 35px;
        opacity: 0;
    }


    86% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
    100% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
}


@keyframes elevatorBoxMove {
    0% {
        bottom: 0;
    }
    20% {
        bottom: 0;
    }



    26% {
        bottom:80px;
    }
    40% {
        bottom:80px;
    }



    46% {
        bottom: 160px;
    }
    60% {
        bottom: 160px;
    }


    66% {
        bottom: 240px;
    }
    80% {
        bottom: 240px;
    }

    95% {
        bottom: 0;
    }
    100% {
        bottom: 0;
    }
}

