.elevatorPageA {
    position: relative;
    width: 290px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.elevatorPageA .pillar {
    width: 30px;
    height: 340px;
    background-image: url("../../assets/pillar.png");
}

.elevatorPageA .elevatorBox {
    width: 100px;
    height: 35px;
    background: #cccccc;
    position: absolute;
    bottom: 0;
    left: 95px;
    animation: elevatorBoxMoveA 12s linear infinite;
    background: url("../../assets/elevator.png");
    background-repeat: no-repeat;
    background-size: 100px 35px;
}

.elevatorPageA .person {
    width: 20px;
    height: 20px;
    border: solid 1px;
    background: #ffc468;
    position: absolute;
    bottom: 0;
    right: 40px;
    animation: personOutA 12s linear infinite;
    opacity: 1;

}

.elevatorPageA .waitPerson {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -30px;
    left: 135px;
    animation: waitPersonA 12s linear infinite;
}

@keyframes waitPersonA {
    0% {
        bottom: -30px;
        opacity: 0;
    }
    2.5% {
        bottom: -30px;
        opacity: 1;
    }
    12.5% {
        bottom: -30px;
        opacity: 1;
    }

    22.5% {
        bottom: 10px;
        opacity: 1;
    }
    25% {
        bottom: 10px;
        opacity: 0;
    }

    100% {
        bottom: -30px;
        opacity: 0;
    }
}


@keyframes personOutA {
    0% {
        right: 40px;
        opacity: 0;
    }
    20% {
        right: 40px;
        opacity: 0;
    }


    34% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
    38% {
        right: 40px;
        bottom: 35px;
        opacity: 1;
    }
    44% {
        right: -45px;
        bottom: 35px;
        opacity: 1;
    }
    46% {
        right: -50px;
        bottom: 35px;
        opacity: 0;
    }


    58% {
        right: 40px;
        bottom: 0;
        opacity: 0
    }
    60% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
    62% {
        right: 40px;
        bottom: 35px;
        opacity: 1;
    }
    68% {
        right: -45px;
        bottom: 35px;
        opacity: 1;
    }
    70% {
        right: -50px;
        bottom: 35px;
        opacity: 0;
    }


    78% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
    80% {
        right: 40px;
        opacity: 0;
    }
    82% {
        right: 40px;
        bottom: 35px;
        opacity: 1;
    }
    90% {
        right: -45px;
        bottom: 35px;
        opacity: 1;
    }
    92% {
        right: -50px;
        bottom: 35px;
        opacity: 0;
    }


    100% {
        right: 0;
        opacity: 0;
    }
}


@keyframes elevatorBoxMoveA {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 0;
    }


    34% {
        bottom: 160px;
    }
    46% {
        bottom: 160px;
    }


    58% {
        bottom: 320px;
    }
    72% {
        bottom: 320px;
    }


    78% {
        bottom: 240px;
    }
    92% {
        bottom: 240px;
    }
}

