.elevatorPageB {
    position: relative;
    width: 290px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.elevatorPageB .pillar {
    width: 30px;
    height: 340px;
    background-image: url("../../assets/pillar.png");
}

.elevatorPageB .elevatorBox {
    width: 100px;
    height: 35px;
    background: #cccccc;
    position: absolute;
    bottom: 0;
    left: 95px;
    animation: elevatorBoxMoveB 20s linear infinite;
    background: url("../../assets/elevator.png");
    background-repeat: no-repeat;
    background-size: 100px 35px;
}

.elevatorPageB .person {
    width: 20px;
    height: 20px;
    border: solid 1px;
    background: #ffc468;
    position: absolute;
    bottom: 0;
    right: 40px;
    animation: personOutB 20s linear infinite;
    opacity: 1;

}

.elevatorPageB .waitPerson {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -30px;
    left: 135px;
    animation: waitPersonB 20s linear infinite;
}

@keyframes waitPersonB {
    0% {
        bottom: -30px;
        opacity: 0;
    }
    1.5% {
        bottom: -30px;
        opacity: 1;
    }
    7.5% {
        bottom: -30px;
        opacity: 1;
    }

    13.5% {
        bottom: 10px;
        opacity: 1;
    }
    15% {
        bottom: 10px;
        opacity: 0;
    }

    100% {
        bottom: -30px;
        opacity: 0;
    }
}


@keyframes personOutB {
    0% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
    20% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }



    21.5% {
        right: 40px;
        bottom: 35px;
        opacity: 1;
    }
    29% {
        right: -45px;
        bottom: 35px;
        opacity: 1;
    }
    30% {
        right: -50px;
        bottom: 35px;
        opacity: 0;
    }



    35% {
        right: 40px;
        bottom: 0;
        opacity: 0
    }
    36.5% {
        right: 40px;
        bottom: 35px;
        opacity: 1
    }
    44% {
        right: -45px;
        bottom: 35px;
        opacity: 1;
    }
    45% {
        right: -50px;
        bottom: 35px;
        opacity: 0
    }


    50% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
    51.5% {
        right: 40px;
        bottom: 35px;
        opacity: 1;
    }
    59% {
        right: -45px;
        bottom: 35px;
        opacity: 1;
    }
    60% {
        right: -50px;
        bottom: 35px;
        opacity: 0
    }


    65% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
    66.5% {
        right: 40px;
        bottom: 35px;
        opacity: 1;
    }
    74% {
        right: -45px;
        bottom: 35px;
        opacity: 1;
    }
    75% {
        right: -50px;
        bottom: 35px;
        opacity: 0
    }

    80% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }
    81.5% {
        right: 40px;
        bottom: 35px;
        opacity: 1;
    }
    89% {
        right: -45px;
        bottom: 35px;
        opacity: 1;
    }
    90% {
        right: -50px;
        bottom: 35px;
        opacity: 0
    }
    100% {
        right: 40px;
        bottom: 0;
        opacity: 0;
    }

}


@keyframes elevatorBoxMoveB {
    0% {
        bottom: 0;
    }
    15% {
        bottom: 0;
    }



    20% {
        bottom:80px;
    }
    30% {
        bottom:80px;
    }



    35% {
        bottom: 160px;
    }
    45% {
        bottom: 160px;
    }


    50% {
        bottom: 320px;
    }
    60% {
        bottom: 320px;
    }

    65% {
        bottom: 160px;
    }
    75% {
        bottom: 160px;
    }

    80% {
        bottom: 80px;
    }
    90% {
        bottom: 80px;
    }

    95% {
        bottom: 0;
    }
    100% {
        bottom: 0;
    }

    95% {
        bottom: 0;
    }
    100% {
        bottom: 0;
    }
}

