.elevatorPageA {
    position: relative;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.elevatorPageA .pillar {
    width: 30px;
    height: 340px;
    background-image: url("../../assets/pillar.png");
}

.elevatorPageA .elevatorBox {
    width: 100px;
    height: 35px;
    background: #cccccc;
    position: absolute;
    bottom: 0;
    left: 100px;
    animation: elevatorBoxMoveA 12s linear infinite;
    background: url("../../assets/elevator.png");
    background-repeat: no-repeat;
    background-size: 100px 35px;
}

.elevatorPageA .person {
    width: 20px;
    height: 20px;
    border: solid 1px;
    background: #7ec1ff;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: personOutA 12s linear infinite;
    opacity: 1;

}

.elevatorPageA .waitPerson {
    width: 20px;
    height: 20px;
    border: solid 1px;
    background: #81ff32;
    position: absolute;
    bottom: -30px;
    left: 140px;
    animation: waitPersonA 12s linear infinite;
}

@keyframes waitPersonA {
    0% {
        bottom: -30px;
        opacity: 0;
    }
    2% {
        bottom: -30px;
        opacity: 1;
    }
    10% {
        bottom: -30px;
        opacity: 1;
    }

    18% {
        bottom: 10px;
        opacity: 1;
    }
    20% {
        bottom: 10px;
        opacity: 0;
    }

    100% {
        bottom: -30px;
        opacity: 0;
    }
}


@keyframes personOutA {
    0% {
        left: 0;
        opacity: 0;
    }
    20% {
        left: 0;
        opacity: 0;
    }


    34% {
        opacity: 0;
        left: 0;
    }
    36% {
        opacity: 1;
        left: 0;
    }
    44% {
        left: -45px;
        opacity: 1;
    }
    46% {
        left: -50px;
        opacity: 0;
    }



    58% {
        left: 0;
        opacity: 0
    }
    60% {
        left: 0;
        opacity: 0;
    }
    62% {
        left: 0;
        opacity: 1;
    }
    68% {
        left: -45px;
        opacity: 1;
    }
    70% {
        left: -50px;
        opacity: 0;
    }


    78% {
        left: 0;
        opacity: 0;
    }
    80% {
        left: 0;
        opacity: 0;
    }
    82% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: -45px;
        opacity: 1;
    }
    92% {
        left: -50px;
        opacity: 0;
    }


    100% {
        left: 0;
        opacity: 0;
    }
}


@keyframes elevatorBoxMoveA {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 0;
    }


    32% {
        bottom: 140px;
    }
    46% {
        bottom: 140px;
    }


    58% {
        bottom: 280px;
    }
    72% {
        bottom: 280px;
    }


    78% {
        bottom: 210px;
    }
    92% {
        bottom: 210px;
    }



}

